.body{
    background-color: rgb(241, 241, 241);
    font-family: 'Poppins';
}

.navbar{
    background-color: white;
    padding: 1.25em !important;
    padding-left: 2em !important;
    font-size: 1em;
    font-weight: 700;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.hero{
    background-color: white;
    padding: 1.5em;
    height: 30rem;
    border-radius: 2rem;
}

.immagine{
    border-radius: 1.5rem;
    max-height: 400px !important;
    max-width: 400px !important;
    aspect-ratio: 1;
}
.cont{

}